<br>
<div style="width: 60%;margin: 0 auto;">
  <form #searchL="ngForm" (ngSubmit)="searchLink()">
    <b>Select Link Type</b>
    <select name="type" [(ngModel)]="ltype" (change)="onTypeChange()">
      <option value="Reports">Reports</option>
      <option value="Tools">Tools</option>
    </select>

    <b>Select Link Title</b>
    <select required name="title" [(ngModel)]="searchId">
      <option *ngFor="let item of linkList" value="{{item.linkid}}">{{item.linktitle}}</option>
    </select>

    <button type="submit" class="btn btn--primary" data-dismiss="modal" [disabled]="!searchL.form.valid">Search</button>
  </form>
</div>
<br>
<div *ngIf="isFormVisible" style="width: 60%;margin: 0 auto;">
  <form #addL="ngForm" (ngSubmit)="updateLink()">
    <label for="category">
      <b>Category</b>
    </label>
    <select name="category" [(ngModel)]="model.catId">
      <option *ngFor="let item of categoriesList" value="{{item.catId}}">{{item.catDesc}}</option>
    </select>

    <label for="linkcategory">
      <b>Link Type</b>
    </label>
    <select name="linkcategory" [(ngModel)]="model.linkcategory">
      <option value="Reports">Reports</option>
      <option value="Tools">Tools</option>
    </select>

    <label for="linktitle">
      <b>Link Title</b>
    </label>
    <input type="text" required maxlength="100" name="linktitle" placeholder="Link Title" [(ngModel)]="model.linktitle">

    <label for="linkdesc">
      <b>Link Description</b>
    </label>
    <input type="text" required maxlength="1000" name="linkdesc" placeholder="Link Description" [(ngModel)]="model.linkdesc">

    <label for="linkurl">
      <b>Link URL</b>
    </label>
    <input type="text" required maxlength="1000" name="linkurl" placeholder="Link URL" [(ngModel)]="model.linkurl">

    <div style="width: 60%;margin: 0 auto;">
      <button type="submit" value="update" class="btn btn--primary" data-dismiss="modal" [disabled]="!addL.form.valid">Update</button>
      <button type="button" value="delete" class="btn btn--primary" data-dismiss="modal" (click)="deleteLink()">Delete</button>
    </div>
  </form>
</div>