<br>
<div style="width: 60%;margin: 0 auto;">
  <form #addT="ngForm" (ngSubmit)="addTraining()">
    <label for="category">
      <b>Function</b>
    </label>
    <select name="category" required [(ngModel)]="model.category">
      <option *ngFor="let item of categoriesList" value="{{item.catId}}">{{item.catDesc}}</option>
    </select>
    <label for="training_title">
      <b>Title</b>
    </label>
    <input type="text" maxlength="45" required name="training_title" placeholder="Title" [(ngModel)]="model.title">
    <label for="desc">
      <b>Description</b>
    </label>
    <input type="text" required maxlength="1000" name="desc" placeholder="Description" [(ngModel)]="model.desc">

    <input type="submit" value="Add Training" name="submit" [disabled]="!addT.form.valid">

  </form>
</div>