<br>
<div style="width: 60%;margin: 0 auto;">
  <form #addL="ngForm" (ngSubmit)="changePassword()">
    <label for="password">
      <b>Enter new password</b>
    </label>
    <input type="password" required maxlength="15" name="password" placeholder="Enter new password" [(ngModel)]="password">

    <label for="npassword">
      <b>Confirm new password</b>
    </label>
    <input type="password" required maxlength="15" name="npassword" placeholder="Confirm new password" [(ngModel)]="npassword">

    <button type="submit" class="btn btn--primary" data-dismiss="modal" [disabled]="!addL.form.valid">Change Password</button>
  </form>
</div>