<div class="content-fluid">
  <div class="sidebar">
    <div class="sidebar__header">
      <div class="sidebar__header-title">Welcome</div>
      <div>
        <span class="icon-contact icon--large"></span>
      </div>
    </div>
    <ul>
      <li class="sidebar__item">
        <a routerLink="/admin">New Dashboard Requests</a>
      </li>
      <li class="sidebar__item">
        <a href="#Disti">Delete Dashboard Requests</a>
      </li>
      <li class="sidebar__item">
        <a routerLink="adddashboard">Add Dashboard</a>
      </li>
      <li class="sidebar__item">
        <a href="#IBP">Update/Delete Dashboard</a>
      </li>
      <li class="sidebar__item">
        <a href="#CRP">Add User</a>
      </li>
      <li class="sidebar__item">
        <a href="#CX">Update/Delete User</a>
      </li>
      <li class="sidebar__item">
        <a href="#SBM">Change User Role</a>
      </li>
      <li class="sidebar__item">
        <a href="#SSA">Add/Delete Category</a>
      </li>
    </ul>
  </div>
  <main>
    <header class="header">
      <div class="header-bar container">
        <a href="http://www.cisco.com" class="header-bar__logo">
          <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
          <div class="header-heading">
            <h1>
              <b class="page-title">GP&F Landing Page</b>
            </h1>
          </div>
        </div>
        <div class="header-bar__main">
          <div class="header-toolbar">
            <p> </p>
          </div>
          <div class="header-toolbar">
            <p> </p>
          </div>
          <!-- <div class="header-toolbar">
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-group__text select">
                  <select id="access" onchange="onChangeAccess(this)">
                    <option value="" selected>Access Related Links</option>
                    <option value="https://edsart.cloudapps.cisco.com/groups/28/subgroups">DLS Access</option>
                    <option value="https://edsart.cloudapps.cisco.com/groups/-1/subgroups">Dashboard Access</option>
                    <option value="https://tableau.cisco.com/#/site/GPF/views/GPF-DLS-LOOKUP/GPF-DLS?:iid=5">DLS access I have</option>
                  </select>
                </div>
              </div>
            </div>
          </div> -->
          <div class="header-toolbar">
            <div class="col-md-6">
              <button class="btn btn--primary" id="modal-add-dashboard" (click)="onDashboardClick()">Go to Dashboard</button>
            </div>
            <div style="float: right">
              <a [routerLink]="" (click)="userLogOff()">
                <b>
                  <span class="icon-sign-out"></span> Log Out</b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="container" style="width: 60%;margin: 0 auto;">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="footer footer--new footer--basic footer--compressed">
      <div class="footer__links">
        <ul class="list">
          &nbsp;
          <li>
            <a href="mailto:gpf_dashboard@cisco.com">
              <span class="icon-email"></span>&nbsp; Email us</a>
          </li>
          <li>
            <a href="download.html">
              <span class="icon-download-contain"></span>&nbsp; Download Section</a>
          </li>
        </ul>
      </div>
      <div class="footer__legal">
        <div class="footer__logo">
          <a href="http://www.cisco.com" target="_blank">
            <span class="icon-cisco"></span>
          </a>
        </div>
        <div class="footer__copyright">
          <div>Copyright &copy; 2018 Cisco Systems Inc. All rights reserved.</div>
        </div>
      </div>
    </footer>
  </main>