<div class="content-fluid">
  <div class="sidebar">
    <div class="sidebar__header">
      <div class="sidebar__header-title">Welcome</div>
      <div>
        <span class="icon-contact icon--large"></span>
      </div>
      <div><b>{{userFname}}</b></div>
    </div>
    <ul>
      <li class="sidebar__item">
        <a routerLink="/admin">New Dashboard Requests</a>
      </li>
      <li class="sidebar__item">
        <a href="#Disti">Delete Dashboard Requests</a>
      </li>
      <li class="sidebar__item">
        <a routerLink="adddashboard">Add Dashboard</a>
      </li>
      <li class="sidebar__item">
        <a href="#IBP">Update/Delete Dashboard</a>
      </li>
      <li class="sidebar__item">
        <a href="#CRP">Add User</a>
      </li>
      <li class="sidebar__item">
        <a href="#CX">Update/Delete User</a>
      </li>
      <li class="sidebar__item">
        <a href="#SBM">Change User Role</a>
      </li>
      <li class="sidebar__item">
        <a href="#SSA">Add/Delete Category</a>
      </li>
    </ul>
  </div>
  <main>
    <header class="header header--tall">
      <div class="header-bar container">
        <a href="http://www.cisco.com" class="header-bar__logo">
          <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
          <div class="header-heading">
            <p class="page-title">GP&F Landing Page</p>
          </div>
        </div>

        <div class="header-toolbar">
            <a routerLink="/dashboard" class="btn btn--icon">
                <span class="icon-home" title="Go to Home Page"></span>
            </a>
            <a [routerLink]="" (click)="userLogOff()" class="btn btn--icon">
                <span class="icon-sign-out" title="Log Out"></span>
            </a>
            <!-- <a href="javascript:;" class="btn btn--icon">
                <span class="icon-cog"></span>
            </a> -->
        </div>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="footer footer--new footer--basic footer--compressed">
      <div class="footer__links">
        <ul class="list">
          &nbsp;
          <li>
            <a href="mailto:gpf_dashboard@cisco.com">
              <span class="icon-email"></span>&nbsp; Email us</a>
          </li>
          <li>
            <a href="download.html">
              <span class="icon-download-contain"></span>&nbsp; Download Section</a>
          </li>
        </ul>
      </div>
      <div class="footer__legal">
        <div class="footer__logo">
          <a href="http://www.cisco.com" target="_blank">
            <span class="icon-cisco"></span>
          </a>
        </div>
        <div class="footer__copyright">
          <div>Copyright &copy; 2018 Cisco Systems Inc. All rights reserved.</div>
        </div>
      </div>
    </footer>
  </main>