<div class="content-fluid">
  <div class="sidebar">
    <div class="sidebar__header">
      <div class="sidebar__header-title">Welcome</div>
      <div>
        <span class="icon-contact icon--large"></span>
      </div>
    </div>
    <ul>
      <li class="sidebar__item" *ngFor="let item of categoriesList">
        <a [routerLink]="" (click)="onCategoryClick(item)">{{item.catDesc}}</a>
      </li>
    </ul>

    <br>
    <div class="form-group">
      <div>
        <select id="access" onchange="onChangeAccess(this)" style="width: 95%">
          <option value="" selected>Access Related Links</option>
          <option value="https://edsart.cloudapps.cisco.com/groups/28/subgroups">DLS Access</option>
          <option value="https://edsart.cloudapps.cisco.com/groups/-1/subgroups">Dashboard Access</option>
          <option value="https://tableau.cisco.com/#/site/GPF/views/GPF-DLS-LOOKUP/GPF-DLS?:iid=5">DLS access I have</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div>
        <select id="dashboard" onchange="location = this.options[this.selectedIndex].value;" style="width: 95%">
          <option style="color:gray" value="index.html" selected>Dashboard Quick Access</option>
          <option value="#ASCP_LT">ASCP LT</option>
          <option value="#Backlog_View-Quarter_End">Backlog View-Quarter End</option>
          <option value="#Booking_Performance">Booking Performance</option>
          <option value="#Core_CX">Core CX</option>
          <option value="#Critical_Deal">Critical Deal</option>
          <option value="#CSP_Profiling_Report">CSP Profiling Report</option>
          <option value="#CX_Delivery">CX Delivery</option>
          <option value="#CX_Operations">CX Operations</option>
          <option value="#Dashboard_Year_End">Dashboard Year End</option>
          <option value="#Delivery_Metrics">Delivery Metrics</option>
          <option value="#Disti_Planning">Disti Planning</option>
          <option value="#Distributor_Shipment_Analysis">Distributor Shipment Analysis</option>
          <option value="#DP_Analytics">DP Analytics</option>
          <option value="#ERA">ERA</option>
          <option value="#Escalation_Risk_Prediction">Escalation Risk Prediction</option>
          <option value="#Escalation_Risk_Prediction">Escalation Risk Prediction</option>
          <option value="#Expedite_Optimization">Expedite Optimization</option>
          <option value="#Expedite_Optimization">Expedite Optimization</option>
          <option value="#Expedite_Response_Data">Expedite Response Data</option>
          <option value="#Final_Hour_Shipment_View">Final Hour Shipment</option>
          <option value="#GPF_Self_Service_Analytics">GPF Self Service Analytics</option>
          <option value="#Historical_Backlog">Historical Backlog</option>
          <option value="#Integrated_Fulfillment_Workbench">Integrated Fulfillment Workbench</option>
          <option value="#Market_Share">Market Share</option>
          <option value="#Max_Line_Qty_Hold">Max Line Qty Hold</option>
          <option value="#MLQ_Violation">MLQ Violation</option>
          <option value="#Monthly_Metrics">Monthly Metrics</option>
          <option value="#MOPR">MOPR</option>
          <option value="#NPI_EDI">NPI EDI</option>
          <option value="#OPT">OPT</option>
          <option value="#OTS/LTA/LAS">OTS/LTA/LAS</option>
          <option value="#Plan_Tracking">Plan Tracking</option>
          <option value="#Plan_Tracking">Plan Tracking</option>
          <option value="#Q-end_Daily_Expedite_and_Shipment">Q-end Daily Expedite and Shipment</option>
          <option value="#R12_Scheduling">R12 Scheduling</option>
          <option value="#R12_Scheduling_vs_Shipments">R12 Scheduling vs Shipments</option>
          <option value="#Regional_Backlog">Regional Backlog</option>
          <option value="#RISO_Diagnostic">RISO Diagnostic</option>
          <option value="#Self_Service_Dashboards">Self Service Dashboards</option>
          <option value="#Shipment_View-Quarter_End">Shipment View-Quarter End</option>
          <option value="#Theatre_Plan">Theatre Plan</option>
          <option value="#Theatre_Plan">Theatre Plan</option>
          <option value="#VOR">VOR</option>
          <option value="#VOR_BOM_Accuracy">VOR BOM Volatility</option>
        </select>
      </div>
    </div>
  </div>
  <main>
    <header class="header">
      <div class="header-bar container">
        <a href="http://www.cisco.com" class="header-bar__logo">
          <!-- <span class="icon-home"></span> -->
          <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
          <div class="header-heading">
            <h1>
              <b class="page-title">GP&F Landing Page</b>
            </h1>
          </div>
        </div>
        <div class="header-bar__main">
          <div class="header-toolbar">
            <p> </p>
          </div>
          <div class="header-toolbar">
            <p> </p>
          </div>
          <div class="header-toolbar">
            <div class="col-md-6">
              <button class="btn btn--primary" id="modal-add-dashboard" (click)="onAdminClick()">Admin Activities</button>
            </div>
            <div style="float: right">
              <a [routerLink]="" (click)="userLogOff()">
                <b>
                  <span class="icon-sign-out"></span> Log Out</b>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="container">
        <div class="section">
          <div id="{{catId}}">
            <br>
            <h4>{{catDesc}}</h4>
            <!-- <p>Requires the Standard Package</p> -->
            <div class="row base-margin-top">
              <div *ngFor="let item of dashboardList" id="{{item.dashId}}" class="col-md-3 text-center card">
                <a href="{{item.dashlink}}" target="_blank">
                  <img src="{{item.imguri}}" class="image">
                </a>
                <div class="card_container">
                  <p align="left">
                    <span class="icon-eye"></span>{{item.views}} :
                    <span class="icon-contact"></span>{{item.unique_users}} : {{item.age}} mon ago</p>
                  <b>
                    <font color=#049fd9>{{item.dashname}}</font>
                  </b>
                  <a href="{{item.dashlink}}" target="_blank">
                    <div class="overlay">
                      <p>
                        <font color="#049fd9"></font>{{item.dashdesc}}</p>
                      <p></p>
                    </div>
                  </a>
                </div>
                <div>
                  <!-- <a href="" align="left">
                    <span class="icon-info-circle"></span>
                  </a>
                  <a href="">
                    <font color="#049fd9">
                      <span class="icon-video"></span>
                    </font>
                  </a> -->

                  <a *ngIf="item.userId == null;" [routerLink]="" (click)="onAddFavoriteClick(item)">
                    <font color="green">
                      <span class="icon-star-empty"></span>
                    </font>
                  </a>

                  <a *ngIf="item.userId != null;" [routerLink]="" (click)="onRemoveFavoriteClick(item)">
                      <font color="green">
                        <span class="icon-star"></span>
                      </font>
                  </a>
                  
                  <!-- &nbsp;&nbsp;&nbsp;
                  <a href="" align="right">
                    <font color="red">
                      <span class="icon-remove-outline"></span>
                    </font>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer footer--new footer--basic footer--compressed">
      <div class="footer__links">
        <ul class="list">
          &nbsp;
          <li>
            <a href="mailto:gpf_dashboard@cisco.com">
              <span class="icon-email"></span>&nbsp; Email us</a>
          </li>
          <li>
            <a href="download.html">
              <span class="icon-download-contain"></span>&nbsp; Download Section</a>
          </li>
        </ul>
      </div>
      <div class="footer__legal">
        <div class="footer__logo">
          <a href="http://www.cisco.com" target="_blank">
            <span class="icon-cisco"></span>
          </a>
        </div>
        <div class="footer__copyright">
          <div>Copyright &copy; 2018 Cisco Systems Inc. All rights reserved.</div>
        </div>
      </div>
    </footer>
  </main>