<div class="content-fluid">
  <div class="sidebar">
    <div class="sidebar__header">
      <div class="sidebar__header-title">Welcome</div>
      <div>
        <span class="icon-contact icon--large"></span>
      </div>
      <div>
        <b>{{userFname}}</b>
      </div>
    </div>
    <ul>
      <li class="sidebar__item" *ngFor="let item of categoriesList">
        <a [routerLink]="" (click)="onCategoryClick(item)">{{item.catDesc}}</a>
      </li>
    </ul>
  </div>
  <main>
    <header class="header header--tall">
      <div class="header-bar container">
        <a href="http://www.cisco.com" class="header-bar__logo">
          <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
          <div class="header-heading">
            <p class="page-title">GP&F Landing Page</p>
          </div>

          <div class="header-menus">
            <ul class="nav nav-tabs">
              <li id="tab-dashboards" class="tab active" (click)="onDashboardTabClick($event)">
                <a tabindex="10">
                  <div class="tab__heading" title="Dashboards">Dashboards</div>
                </a>
              </li>
              <li id="tab-reports" class="tab" (click)="onDashboardTabClick($event)">
                <a tabindex="11">
                  <div class="tab__heading" title="Links">Links</div>
                </a>
              </li>
              <li id="tab-training" class="tab" (click)="onDashboardTabClick($event)">
                <a tabindex="12">
                  <div class="tab__heading" title="Training">Training</div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="header-toolbar">
          <a *ngIf="isUser" routerLink="/user/adddashboard" class="btn btn--icon">
            <span class="icon-admin" title="User Activities"></span>
          </a>

          <a *ngIf="isAdmin" routerLink="/admin/approvedashboard" class="btn btn--icon">
            <span class="icon-admin" title="Admin Activities"></span>
          </a>

          <a [routerLink]="" (click)="userLogOff()" class="btn btn--icon">
            <span class="icon-sign-out" title="Log Out"></span>
          </a>
        </div>
      </div>
    </header>

    <div class="content">
      <div class="container">
        <div class="secondary-tabs">
          <div class="tab-content">
            <div id="tab-dashboards-content" class="tab-pane active">
              <div class="section">
                <div id="{{catId}}">
                  <h4>{{catDesc}}</h4>
                  <div class="row base-margin-top">
                    <div *ngFor="let item of dashboardList" id="{{item.dashId}}" class="col-md-3 text-center card">
                      <a href="{{item.dashlink}}" target="_blank">
                        <img src="{{item.imguri}}" class="image">
                      </a>
                      <div class="card_container">
                        <p align="left">
                          <span class="icon-eye"></span>
                          <span *ngIf="item.views < 1000 || item.views >= 10000000">{{item.views}} :</span>
                          <span *ngIf="item.views >= 1000 && item.views < 100000">{{item.views/1000 | number:'2.1-1'}}K :</span>
                          <span *ngIf="item.views >= 100000 && item.views < 10000000">{{item.views/100000 | number:'2.1-1'}}L :</span>
                          <span class="icon-contact"></span>{{item.unique_users}} : {{item.age}} mon ago</p>
                        <b>
                          <font color=#049fd9>{{item.dashname}}</font>
                        </b>
                        <a href="{{item.dashlink}}" target="_blank">
                          <div class="overlay">
                            <p>
                              <font color="#049fd9"></font>{{item.dashdesc}}</p>
                            <p></p>
                          </div>
                        </a>
                      </div>
                      <div>
                        <a *ngIf="item.userId == null;" [routerLink]="" (click)="onAddFavoriteClick(item)">
                          <font color="green">
                            <span class="icon-star-empty"></span>
                          </font>
                        </a>

                        <a *ngIf="item.userId != null;" [routerLink]="" (click)="onRemoveFavoriteClick(item)">
                          <font color="green">
                            <span class="icon-star"></span>
                          </font>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="tab-reports-content" class="tab-pane">
              <div class="responsive-table" style="float: left; max-width: 50%; padding-left: 10px;padding-right: 10px;">
                <table class="table table--fixed">
                  <thead>
                    <tr>
                      <th>Reports</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of reportList">
                      <td>
                        <a href="{{item.linkurl}}" target="_blank">{{item.linktitle}}</a>

                        <a *ngIf="item.userId == null;" [routerLink]="" style="float:right;" (click)="onLinkAddFavoriteClick(item)">
                          <font color="green">
                            <span class="icon-star-empty"></span>
                          </font>
                        </a>

                        <a *ngIf="item.userId != null;" [routerLink]="" style="float:right;" (click)="onLinkRemoveFavoriteClick(item)">
                          <font color="green">
                            <span class="icon-star"></span>
                          </font>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="responsive-table" style="float: left; max-width: 50%; padding-left: 10px;padding-right: 10px;">
                <table class="table table--fixed">
                  <thead>
                    <tr>
                      <th>Tools</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of toolList">
                      <td>
                        <a href="{{item.linkurl}}" target="_blank">{{item.linktitle}}</a>

                        <a *ngIf="item.userId == null;" [routerLink]="" style="float:right;" (click)="onLinkAddFavoriteClick(item)">
                          <font color="green">
                            <span class="icon-star-empty"></span>
                          </font>
                        </a>

                        <a *ngIf="item.userId != null;" [routerLink]="" style="float:right;" (click)="onLinkRemoveFavoriteClick(item)">
                          <font color="green">
                            <span class="icon-star"></span>
                          </font>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div id="tab-training-content" class="tab-pane">
              <div class="responsive-table">
                <table class="table table--fixed">
                  <thead>
                    <tr>
                      <th style="width:32%">Title</th>
                      <th style="width:32%">Training Material</th>
                      <th style="width:32%">Training Material Type</th>
                      <th style="width:4%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of trainingData">
                      <td>
                        {{item.title}}
                      </td>
                      <td>
                        <tr *ngFor="let i of item.items">
                          <a href="{{i.maturl}}" target="_blank">{{i.mattitle}}</a>
                        </tr>
                      </td>
                      <td>
                        <tr *ngFor="let j of item.items">{{j.mattype}}
                        </tr>
                      </td>
                      <td>
                        <tr *ngFor="let k of item.items">
                          <a *ngIf="k.userId == null;" [routerLink]="" (click)="onTrainingAddFavoriteClick(k)">
                            <font color="green">
                              <span class="icon-star-empty"></span>
                            </font>
                          </a>

                          <a *ngIf="k.userId != null;" [routerLink]="" (click)="onTrainingRemoveFavoriteClick(k)">
                            <font color="green">
                              <span class="icon-star"></span>
                            </font>
                          </a>
                        </tr>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer footer--new footer--basic footer--compressed">
      <div class="footer__links">
        <ul class="list">
          &nbsp;
          <li>
            <a href="mailto:gpf_dashboard@cisco.com">
              <span class="icon-email"></span>&nbsp; Email us</a>
          </li>
          <!-- <li>
            <a href="download.html">
              <span class="icon-download-contain"></span>&nbsp; Download Section</a>
          </li> -->
        </ul>
      </div>
      <div class="footer__legal">
        <div class="footer__logo">
          <a href="http://www.cisco.com" target="_blank">
            <span class="icon-cisco"></span>
          </a>
        </div>
        <div class="footer__copyright">
          <div>Copyright &copy; 2018 Cisco Systems Inc. All rights reserved.</div>
        </div>
      </div>
    </footer>
  </main>
</div>